*{
  box-sizing: border-box;
  font-family: Roboto;
}
/*Header*/
header {
  width: 101%;
}

#logo{
  text-align: center;
}

#logo h1{
  font-size: 50px;
}

header > nav{
  width: 101%;
  margin: 50px 0;
  background: #0AFCC0;
  text-align: center;
}

header > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header > nav ul li {
  background-color: #0AFCC0;
  display: inline-block;
  position: relative;
  margin: 1%;
  padding:0;
}

header > nav ul li:hover{
    background-color: #02DFE6;
}

header>nav ul a{
    display: block;
    text-decoration: none;
    padding: 2%;
    text-transform: uppercase;
}

header > nav ul ul{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background: #0AFCC0;
    padding: 0;
}

header > nav ul ul li {
  display: block;  
  float: none;
  width:10%;
}

header >nav ul ul a{
    line-height: 120%;
    padding: 10%;
}

header > nav li:hover>ul{
    display: block;
    background: #02DFE6;
}

/*MAIN*/
#tableh1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

table{
  margin: 0;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px rgba(0,0,1,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

table th, td{
  padding: 10px;
  text-align: center;
  border: 2px solid #02DFE6;
}

tr:nth-child(even){
  background-color: #0AFCC0;
}

/*Formulario*/
.formulario{
  background-color: white;
  padding: 3.1em;
  width: 50%;
  margin-left: 24em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,1,0.7);
  margin-bottom: 2em;
}

.spanContatanos{
  color: rgb(77,75,76);
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  font-weight: bold;
  font-size: large;
  margin-bottom: 1em;
}

.entrada{
  width: 100%;
  margin-bottom: 1em;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #0AFCC0;
  padding: 0.5em;
  outline: none;
}

.entrada:focus{
  border: 2px solid #02DFE6;
  outline: none;
}

.boton{
  margin-top: 2em;
  width: 50%;
  padding: 0.5em;
  border-radius: 5px;
  color:white;
  background-color: #0AFCC0;
  border: 1px solid #0AFCC0;
  cursor: pointer;
}

.boton:hover{
  background-color: white;
  color: #0AFCC0;
  cursor: pointer;
  transition: 0.3s;
}